/* Navigation bar */
.nav-item {
    position: relative;
    transition: 0.5s ease-in-out;
  }
  
  .nav-item::after {
    content: "";
    width: 0%;
    transition: 0.5s ease-in-out;
  }
  
  .nav-link {
    font-size: 17px !important;
    transition: 0.5s ease-in-out;
  }
  
  .nav-link:not(.active):hover {
    transform: translateY(-5px);
  }
  
  .nav-link.active::after {
    content: "";
    width: 96%;
    height: 2px;
    background: #01551B;
    position: absolute;
    bottom: 5px;
    left: 2px;
  }

  .nav-link.active::after {
    content: "";
    width: 96%;
    height: 2px;
    background: #01551B;
    position: absolute;
    bottom: 5px;
    left: 2px;
  }

  
  .nav-link.active {
    font-weight: bold !important;
  }
  
  .navbar-toggler {
    outline: none !important;
    box-shadow: none !important;
    border-color: #aeca87 !important;
  }
  
  .navbar-toggler:focus,
  .navbar-toggler:hover {
    border: 1px solid white !important;
  }

  .navbar {
  background: #aeca87 !important;
}