.spinbox {
  width: 100px;
  user-select: none;
}

.spinbox div:first-child,
.spinbox div:last-child {
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.spinbox div:first-child:hover,
.spinbox div:last-child:hover {
  background: #bed49f;
}

.card-text {
  color: #01551b !important;
}

textarea{
min-height:135px;
}

footer {
  background: #aeca87 !important;
}

footer .nav-link {
  font-size: 17px !important;
  transition: 0.5s ease-in-out;
}

footer .nav-link:hover {
  font-weight: bold !important;
}

.detail:hover

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  a[href="tel:+84984018891"] {
    border-bottom: none !important;
  }
}
